[Unit]
Description=Dvb recorder
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
WorkingDirectory=/home/franck
ExecStart=/home/franck/.local/bin/recorder -c /home/franck/.config/recorder/config.toml
#Environment=
KillSignal=SIGINT
User=franck
Group=franck
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
